################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Store/DesignTimeBuild
/.vs/Store/v15/Server/sqlite3
/.vs/Store/v15
/.vs/config
